@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum animi ea sint pariatur fugiat odio tempora similique maiores asperiores! Illum possimus suscipit omnis alias in ipsam excepturi dolor sequi architecto.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum animi ea sint pariatur fugiat odio tempora similique maiores asperiores! Illum possimus suscipit omnis alias in ipsam excepturi dolor sequi architecto.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum animi ea sint pariatur fugiat odio tempora similique maiores asperiores! Illum possimus suscipit omnis alias in ipsam excepturi dolor sequi architecto.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum animi ea sint pariatur fugiat odio tempora similique maiores asperiores! Illum possimus suscipit omnis alias in ipsam excepturi dolor sequi architecto.
</p>