@model List<Pelicula>

@{
    ViewData["Title"] = "Películas 2022";
}

<div class="text-center">
    <h1 class="display-4">Mejores Peliculas 2022</h1>
</div>
<div class="text-left">
    <h2 class="display-6">Top 10 </h2>
    <span></span>
    <p>A continuación se detallará un ranking con las mejores películas según la página "DiezMinutos"</p>
</div>
<span></span>
<span></span>
<div class="text-center">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col" class="">Ranking</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var peli in Model)
        {
          <tr>
              <td>@peli.Código</td>
              <td>@peli.Nombre</td>
              <td>@peli.Direccion</td>
              <td><a class="btn btn-light" tabindex="-1" role="button" aria-disabled="true" asp-action="Detalle" asp-route-id ="@peli.Código">Más Información</a></td>
          </tr>
        }
</tbody>
</table>
</div>